/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2020, 1:49:42 AM
    Author     : potz
*/
.contenedoro{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;

}
.contenedorselect{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%,0);
    text-align: center;

}

.contenedorselect1{
    position: relative;
    top: 10%;
    left: 10%;
    transform: translate(-50%,0);
    text-align: center;

}
.contenedorhorafecha{
    position: relative;
    top: 50px;
    left: 0px;
    text-align: center;

}
.contenedorfecha{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;

}
.contenedorhora{
    position: absolute;
    top: 0%;
    left: 100%;
    text-align: center;

}
.contenedorbotones{
    position: relative;
    top: 100px;
    left: 0px;
    text-align: center;

}
.inputAnimate {
    margin: 10px;
    position: relative;
    --offsetLeft: 0;
    --offsetLeftScale: 16px;
    padding: 16px;
    min-width: 220px;
}
.inputAnimate input,
.inputAnimate span {
    display: block;
    font-size: 16px;
    font-family: inherit;
    line-height: 22px;
    padding: 0 0 0 3px;
    color: transparent;
    text-shadow: 0 0 0 #8C6FF0;
}
.inputAnimate input {
    background: none;
    outline: none;
    border: 0;
    position: relative;
    z-index: 1;
    -webkit-transition: text-shadow .3s ease;
    transition: text-shadow .3s ease;
}
.inputAnimate input::-webkit-input-placeholder {
    color: #8C6FF0;
    opacity: .5;
}
.inputAnimate input::-moz-placeholder {
    color: #8C6FF0;
    opacity: .5;
}
.inputAnimate input:-ms-input-placeholder {
    color: #8C6FF0;
    opacity: .5;
}
.inputAnimate input::-ms-input-placeholder {
    color: #8C6FF0;
    opacity: .5;
}
.inputAnimate input::placeholder {
    color: #8C6FF0;
    opacity: .5;
}
.inputAnimate input + div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 6px;
    -webkit-transition: left .4s ease, border-radius .5s ease, -webkit-transform .4s ease;
    transition: left .4s ease, border-radius .5s ease, -webkit-transform .4s ease;
    transition: transform .4s ease, left .4s ease, border-radius .5s ease;
    transition: transform .4s ease, left .4s ease, border-radius .5s ease, -webkit-transform .4s ease;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.inputAnimate input + div + em {
    opacity: 0;
    left: 16px;
    width: 1px;
    height: 24px;
    top: 50%;
    margin: -12px 0 0 0;
    position: absolute;
    z-index: 1;
    display: block;
    background: #fff;
    -webkit-transform: translateX(var(--offsetLeft));
    transform: translateX(var(--offsetLeft));
}
.inputAnimate input:not(:focus) {
    width: 100% !important;
}
.inputAnimate input:focus {
    text-shadow: 0 0 0 #fff;
}
.inputAnimate input:focus + div {
    border-radius: 0;
    left: var(--offsetLeftScale);
    -webkit-transform: scale(0, 0.45);
    transform: scale(0, 0.45);
}
.inputAnimate input:focus + div + em {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}
.inputAnimate span {
    display: none;
}

@-webkit-keyframes blink {
    30%, 70% {
        opacity: 1;
    }
}

@keyframes blink {
    30%, 70% {
        opacity: 1;
    }
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, Arial;
    color: #ADAFB6;
    background: #5628EE;
    display: -webkit-box;
    display: flex;

}
body .dribbble {
    position: fixed;
    display: block;
    right: 24px;
    bottom: 24px;
}
body .dribbble img {
    display: block;
    width: 76px;
}